<div class= "container">

  <div class= "jumbotron">
    <h1>Welcome to Poller Bear!</h1>
    <h3>Move over Gallup, there's a new poll in town.</h3>
  </div>
  <div class="square">
    <h2>Click on a poll below to vote and see the results</h2>

      <div class="polls col-md-10">
        <% @questions.each do |q| %>
        <ul>
          <li><a href= "question/<%= q.id %>"><%= q.name %></a></li>
        </ul>
        <% end %>
      </div>
      <div class="col-md-10">
        <h4>Or create your own poll <a href="/new/poll">here</a></h4>
      </div>
  </div>

</div>
