<h1>Poll 1</h1>

<form action="/votes" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <div>
    <h4>Is Veggie Grill the best place on earth?</h4>
    <input type="radio" id="answer_true"  name="vote[answer]" value="true"/>Yes
    <input type="radio" id="answer_false" name="vote[answer]" value="false"/>No
    <input type="submit">
  </div>
</form>
