<h1>Submit Polling Question Below</h1>

<form action="/new/poll" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <div>
    <input type="text" name="question[name]">
    Yes/no question?<input type="checkbox" name="question[is_boolean]">
    If not yes/no, enter polling choices below:
    Option 1<input type="text" name="question[response]">
    Option 2<input type="text" name="question[response2]">
    Option 3<input type="text" name="question[response3]">
    Option 4<input type="text" name="question[response4]">
    <input type="submit">
  </div>
</form>

<!-- add notice here that your question has been submitted -->
