body {
  background-image: image-url("pattern.png");
}

.jumbotron {
  background-image: image-url("poller.jpg");
  height: 325px;
  text-align: center;
  color: white;
}

.square {
  margin: 0 auto;
  height: 500px;
  width: 700px;
  background-color: #ffffff;
}

.box {
  margin: 0 auto;
  margin-bottom: 50px;
  height: auto;
  width: 550px;
  background-color: #ffffff;
  text-align: center;
}

.box .answer {
  text-align: left;
  padding-left: 200px;
  padding-bottom: 15px;
}

.box .btn-success {
  display: inline-block;
  float: left;
  margin-left: 200px;
}

.box .btn-warning {
  display: inline-block;
  float: left;
  margin-left: 150px;
}

.results .count {
  display: block;

}
